# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.tmp

# Keil MDK / STM32 build artifacts
Objects/
Listings/
DebugConfig/
*.uvoptx
*.uvguix.*
*.lst
*.o
*.crf
*.d
*.axf
*.htm
*.bak
*.dep
